<section class="container body-container">

    <!-- if google find book -->
    <div class="sell-book-form-div ng-scope" *ngIf="book.id">
        <form #sellingBookForm="ngForm" (ngSubmit)="sellingBookForm.valid && onSubmit(sellingBookForm)" novalidate>
            <div class="row">

                <input type="hidden" name="BookId" [(ngModel)]="sellingBook.BookId" value="{{book.Id}}" />

                <div class="col-md-3 col-sm-3" style="padding-top:20px;">
                    <div *ngIf="book.volumeInfo.imageLinks; then thenBlock else elseBlock"> ... </div>
                    <ng-template #thenBlock>
                        <div class="sell-book-image">
                            <img *ngIf="book.volumeInfo.imageLinks" [src]="book.volumeInfo.imageLinks.thumbnail" alt="{{book.volumeInfo.title}}" width="240" height="340">
                        </div>
                    </ng-template>
                    <ng-template #elseBlock>

                        <div class="sell-book-image">

                            <img [src]="src" [hidden]="!src" alt="{{book.volumeInfo.title}}" width="240" height="340"><br>

                            <div class="form-group sell-page-upload-image-input">
                                <input type="file" imageUpload
                                       (imageSelected)="selected($event)"
                                       (change)="fileChange($event)"
                                       [resizeOptions]="resizeOptions" class="filestyle"
                                       accept="image/*" id="filestyle-0" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                <div class="bootstrap-filestyle input-group">
                                    <input type="text" class="form-control " disabled="">
                                    <span class="group-span-filestyle input-group-btn" tabindex="0">
                                        <label for="filestyle-0" class="btn btn-default ">
                                            <span class="glyphicon fa fa-cloud-upload">
                                            </span> Change Cover Image
                                        </label>
                                    </span>
                                </div>
                            </div>

                            <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
                            <button type="button" (click)="upload()">Upload</button>
                        </div>
                    </ng-template>
                </div>

                <div class="col-md-9 col-sm-9">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="archive-page-headers">
                                <h3 class="book-title orange-text lato uppercase ng-binding">{{book.volumeInfo.title}}</h3>
                                <p>{{book.volumeInfo.subtitle}}</p>
                                <h4 class="book-sub-title blue-text lato ng-binding"></h4>
                                <div class="book-description ">
                                    <div class="cat-txt" *ngFor="let identity of book.volumeInfo.industryIdentifiers">
                                        <span>{{identity.type}}: </span>
                                        <a class="blue-text ng-binding"> {{identity.identifier}}</a>
                                        <div *ngIf="identity.type == 'ISBN_10'">
                                            <input type="hidden" name="Isbn10" [(ngModel)]="sellingBook.Isbn10" value="{{identity.identifier}}" />
                                        </div>
                                        <div *ngIf="identity.type != 'ISBN_10'">
                                            <input type="hidden" name="Isbn13" [(ngModel)]="sellingBook.Isbn13" value="{{identity.identifier}}" />
                                        </div>
                                    </div>

                                    <p class="author-txt">
                                        <span>Author: </span><a class="blue-text ng-binding" *ngFor="let author of book.volumeInfo.authors">{{author}}</a>
                                        :: Published by <a class="blue-text ng-binding">{{book.volumeInfo.publisher}}</a>
                                        :: Publishing  <a class="blue-text ng-binding">{{book.volumeInfo.publishedDate | date: 'dd.MM.yyyy'}}</a>
                                        :: ({{book.Format}})
                                        :: Pages <a class="blue-text ng-binding">{{book.pageCount}}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div class="row ">
                                <div class="my-form-group">
                                    <div class="col-md-3"><p class="blue-text uppercase"><strong>Condition of book : </strong></p></div>
                                    <div class="col-md-8 no-padding">
                                        <label *ngFor="let item of keys();let i = index" class="checkbox-inline checkbox-custom">
                                            <input type="radio" name="radiogroup"
                                                   [checked]="idx === 0"
                                                   [value]="i"
                                                   (change)="onSelectionChange(i)">
                                            {{item}}
                                        </label>

                                        <p class="help-block">
                                            <!--<span ng-show="step1.bookCondition.$invalid &amp;&amp; !step1.bookCondition.$pristine" class="ng-hide">Book Condition is required.</span>-->
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="my-form-group">
                                    <div class="col-md-3"><p class="blue-text uppercase"><strong>Selling price: </strong></p></div>

                                    <div class="col-md-6">
                                        <input type="number" [(ngModel)]="sellingBook.Price" name="sellingPrice" class="my-form-control" placeholder="Price (CHF)" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <p class="blue-text uppercase"><strong>Comment : </strong> <span uib-tooltip="Maximum size 1200 characters allowed"><i class="fa fa-info-circle" aria-hidden="true"></i></span></p>
                                </div>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="2" cols="100" name="comment" [(ngModel)]="sellingBook.Comment" ng-maxlength="1200" aria-multiline="true" placeholder="Put a comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <input type="hidden" name="save" value="contact">
                            <!--<button type="submit" class="btn btn-primary bt-contact-submit">Sell Book Now</button>-->
                            <input type="submit" class="btn btn-success login-btn" value="Sell Book Now">
                        </div>
                        <!--<div class="col-md-2 col-xs-12">
                            <input type="submit" value="Sell Book Now" class="btn-primary sell-btn">
                        </div>
                        <p> </p>-->
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--if google do not have result get book from goodreads api-->
    <div *ngIf="!book.id && book.Id">
        <div class="sell-book-form-div ng-scope">
            <form name="sellBookForm" role="form" novalidate="" class="form-validation ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength">
                <div class="row">

                    <div class="col-md-3 col-sm-3" style="padding-top:20px;">
                        <div *ngIf="!book.LargeImageUrl.includes(nophoto); then thenBlock else elseBlock"> ... </div>
                        <ng-template #thenBlock>
                            <div class="sell-book-image">
                                <img *ngIf="book.LargeImageUrl" [src]="book.LargeImageUrl" alt="{{book.Title}}" width="240" height="340">
                            </div>
                        </ng-template>
                        <ng-template #elseBlock>

                            <div class="sell-book-image">

                                <img [src]="src" [hidden]="!src" alt="{{book.Title}}" width="240" height="340"><br>

                                <div class="form-group sell-page-upload-image-input">
                                    <input type="file" imageUpload
                                           (imageSelected)="selected($event)"
                                           [resizeOptions]="resizeOptions" class="filestyle "
                                           accept="image/*" id="filestyle-0" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                    <div class="bootstrap-filestyle input-group">
                                        <input type="text" class="form-control " disabled="">
                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                            <label for="filestyle-0" class="btn btn-default ">
                                                <span class="glyphicon fa fa-cloud-upload">
                                                </span> Change Cover Image
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>

                    <div class="col-md-9 col-sm-9">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="archive-page-headers">
                                    <h3 class="book-title orange-text lato uppercase ng-binding">{{book.Title}}</h3>
                                    <h4 class="book-sub-title blue-text lato ng-binding"></h4>
                                    <div class="book-description ">
                                        <p><a class="grey-text">ISBN: </a><a class="blue-a ng-binding">{{book.Isbn}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="grey-text">ISBN-13: </a><a class="blue-text ng-binding">{{book.Isbn13}}</a></p>
                                        <p class="author-txt">
                                            <span>Author: </span><a class="blue-text ng-binding" *ngFor="let author of book.Authors">{{author.Name}}</a>
                                            :: Published by <span>{{book.Publisher}}</span>
                                            :: Publishing  <span>{{book.PublicationDate | date: 'dd.MM.yyyy'}}</span>
                                            :: ({{book.Format}})
                                            :: Pages <a class="blue-text ng-binding">{{book.Pages}} </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br>
                                <div class="row ">
                                    <div class="my-form-group">
                                        <div class="col-md-3"><p class="blue-text uppercase"><strong>Condition of book : </strong></p></div>
                                        <div class="col-md-8 no-padding">

                                            <label class="checkbox-inline checkbox-custom">
                                                <input name="bookCondition" ng-model="book.bookCondition" value="New" type="radio" required=""><i></i> New
                                            </label>
                                            <label class="checkbox-inline checkbox-custom">
                                                <input name="bookCondition" ng-model="book.bookCondition" value="Barely Used" type="radio" required=""><i></i> Barely Used
                                            </label>
                                            <label class="checkbox-inline checkbox-custom">
                                                <input name="bookCondition" ng-model="book.bookCondition" value="Used" type="radio" required=""><i></i> Used
                                            </label>
                                            <label class="checkbox-inline checkbox-custom">
                                                <input name="bookCondition" ng-model="book.bookCondition" value="Heavily Used" type="radio" required=""><i></i> Heavily Used
                                            </label>
                                            <p class="help-block">
                                                <!--<span ng-show="step1.bookCondition.$invalid &amp;&amp; !step1.bookCondition.$pristine" class="ng-hide">Book Condition is required.</span>-->
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="my-form-group">
                                        <div class="col-md-3"><p class="blue-text uppercase"><strong>Selling price: </strong></p></div>

                                        <div class="col-md-6">
                                            <input type="number" name="sellingPrice" ng-model="book.sellingPrice" class="my-form-control" placeholder="Price (CHF)" required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <p class="blue-text uppercase"><strong>Comment : </strong> <span uib-tooltip="Maximum size 1200 characters allowed"><i class="fa fa-info-circle" aria-hidden="true"></i></span></p>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea class="form-control" rows="2" cols="100" name="comment" ng-model="book.comment" ng-maxlength="1200" aria-multiline="true" placeholder="Put a comment"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-primary bt-contact-submit">Sell Book Now</button>
                            </div>
                            <!--<div class="col-md-2 col-xs-12">
                                <input type="submit" value="Sell Book Now" class="btn-primary sell-btn">
                            </div>
                            <p> </p>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>